<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset="utf-8" />
      <title>Hello world!</title>
      <link type="text/css" rel="stylesheet"
            href="{{ url_for('static',
                  filename='hello.css')}}" />
    </head>
    <body>
        <div>
            <form method="post">
                <label for="nickname">Nickname:</label><br>
                {% if "nickname" in error_fields %}
                    <p>Please enter a value for nickname</p>
                {% endif %}
                <input type="text" name="nickname" value="{{ prefills['nickname'] if prefills is defined else '' }}">

                <label for="room">Room name:</label><br>
                {% if "room" in error_fields %}
                    <p>Please enter a value for room</p>
                {% endif %}
                <input type="text" name="room" value="{{ prefills['room'] if prefills is defined else '' }}"><br>

                <label for="password">Password:</label><br>
                {% if "password" in error_fields %}
                    <p>Please enter a value for password</p>
                {% endif %}
                <input type="text" name="password" value="{{ prefills['password'] if prefills is defined else '' }}">

                <input type="submit" name="submit" value="Create Room">
                <input type="submit" name="submit" value="Join Room">
            </form>
        </div>

    </body>
</html>