<!DOCTYPE html>
<html lang='en'>
    <head>
      <meta charset="utf-8" />
      <title>Enter Nickname</title>
      <link href="/static/css/nickname.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <form method="post">
                
                <p>Please enter a nickname to join:</p>
                {% if "nickname" in error_fields %}
                    <input type="text" name="nickname">
                {% else %}
                    <input type="text" class="error" name="nickname">
                {% endif %}
                

                <input type="submit" name="submit" value="Join Room">
            </form>
        </div>
    </body>
</html>